<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Prority Scheduling</title>
</head>

<body>
    <header class="header">
        <h1 class="page-title">Programación Prioritaria</h1>
        <svg class="github-cat" viewBox="0 0 250 250" aria-hidden="true"
            style="fill: rgb(100, 206, 170); color: rgb(25, 45, 56); position: absolute; top: 0px; border: 0px; right: 0px;">
            <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
            <path
                d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2"
                fill="currentColor" class="octo-arm" style="transform-origin: 130px 106px;">
            </path>
            <path
                d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z"
                fill="currentColor" class="octo-body">
            </path>
        </svg>
    </header>
    <div id="app" class="cont">
        <div class="child">
            <div class="data-container">
                <h3 class="title">Procesos en cola</h3>
                <div class="table-container">
                    <table class="table" id="table">
                        <thead>
                            <th class="td-cell">Id proceso</th>
                            <th class="td-cell">Prioridad</th>
                            <th class="td-cell">Tiempo(ms)</th>
                            <th class="td-cell">Llegada</th>
                        </thead>
                        <tbody id="datat">
                            <tr :id="proceso.id" class="zoom" v-for="proceso in procesosView">
                                <td class="td-cell"><input class="cell" type="text" v-bind:value="proceso.id" readonly>
                                </td>
                                <td class="td-cell"><input class="cell" type="number" v-bind:value="proceso.prioridad">
                                </td>
                                <td class="td-cell"><input class="cell" type="number" v-bind:value="proceso.tiempo">
                                </td>
                                <td class="td-cell"><input class="cell " type="number" v-bind:value="proceso.llegada"
                                        v-on:keyup.enter="edit(proceso.id)"></td>
                            </tr>
                            <!--Nuevos procesos-->
                            <tr class="newProcess zoom" v-if="show || this.procesos != null">
                                <td class="td-cell"><input class="cell" type="text" v-bind:placeholder="newId" readonly>
                                </td>
                                <td class="td-cell"><input class="input-new cell" type="number" placeholder="Prioridad"
                                        required></td>
                                <td class="td-cell"><input class="input-new cell" type="number" placeholder="Tiempo"
                                        required></td>
                                <td class="td-cell"><input class="input-new cell" type="number" placeholder="Llegada"
                                        required></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="big-button add-button" v-on:click.prevent="add()">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                    </div>
                    <div class="big-button play-button" v-on:click="sort()">
                        <i class="fa-solid fa fa-play"></i>
                    </div>
                    <!-- Boton de animacion -->
                    <!-- <div class="big-button play-button-remove" v-on:click="moveOn()">
                        <i class="fa-solid fa fa-play"></i>
                    </div> -->
                </div>
                <div class="timer-cont ">
                    <label class="timer" for="tiempo">Tiempo</label>
                    <input class="timer-input cell" type="number" name="tiempo" v-bind:value="this.tiempoTotal">
                </div>
            </div>
        </div>
        <!--Gannt chart
        <div class="child gantt">
            <div id="example-gantt">
                <h3 class="title">Procesos finalizados</h3>
                <div class="table-container_result">
                    <table class="table result" id="table">
                        <thead>
                            <th>Id proceso</th>
                            <th>Tiempo procesado</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div> -->
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        class Proceso {
            constructor(id, llegada, tiempo, prioridad, procesado, stoped, running, finished) {
                this.id = id;
                this.llegada = llegada;
                this.tiempo = tiempo;
                this.prioridad = prioridad;
                this.procesado = procesado;
                this.stoped = stoped;
                this.running = running;
                this.finished = finished;
            }
        }
        const app = Vue.createApp({
            data() {
                return {
                    //Procesos del usuario
                    procesosView: [
                        //id, llegada, tiempo, prioridad, procesado, stoped, running, finished
                        new Proceso('P1', 2, 7, 5, 0, false, false, false), // 4
                        new Proceso('P2', 1, 7, 4, 0, false, false, false), // 3
                        new Proceso('P3', 6, 3, 5, 0, false, false, false), // 2
                        new Proceso('P4', 0, 7, 4, 0, false, false, false), // 1
                        new Proceso('P5', 6, 3, 3, 0, false, false, false)  // 5
                    ],
                    editing: false,
                    show: false,
                    //Procesos ordernados en sort
                    procesosBack: [
                        new Proceso('P1', 2, 7, 5, 0, false, false, false), // 4
                        new Proceso('P2', 1, 7, 4, 0, false, false, false), // 3
                        new Proceso('P3', 6, 3, 5, 0, false, false, false), // 2
                        new Proceso('P4', 0, 7, 4, 0, false, false, false), // 1
                        new Proceso('P5', 6, 3, 3, 0, false, false, false)  // 5
                    ],
                    //Procesos ejecutando
                    running: [],
                    //Procesos pausados
                    stoped: [],
                    //Procesos terminados
                    finished: [],
                    swaps: [],
                    TIMER: 1000,
                    tiempoTotal: 0,
                    isRunning: false,
                    hasNext: false,
                    //current
                    current: null,
                    isSorted: false

                };
            },
            computed: {
                //Generador para el proximo id
                newId: function name(params) {
                    return `P${this.procesosView.length + 1}`;
                }
            },
            methods: {
                //Valida los datos de entrada en los campos
                valid(arr) {
                    var number = /[0-9]*/;
                    valid = true;
                    for (let i = 0; i < arr.length; i++) {
                        if (!(number.test(arr[0]) && arr[0] != '')) {
                            valid = false;
                        }
                    }
                    return valid;
                },
                //Agrega una fila con nuevo un nuevo procesos
                add() {
                    var nuevo = document.querySelectorAll('tr.newProcess input.input-new');
                    this.show = this.show ? '' : this.show = true;
                    var nproc = [nuevo[0].value, nuevo[1].value, nuevo[2].value];
                    //Clases
                    if (this.valid(nproc)) {
                        let p = new Proceso(this.newId, nuevo[2].valueAsNumber, nuevo[1].valueAsNumber, nuevo[0].valueAsNumber, 0, false, false, false);
                        this.procesosView.push(p);
                        this.procesosBack.push(p);
                        this.isSorted = false;
                    }
                    else {
                        Swal.fire({
                            icon: '',
                            title: 'Oops...',
                            text: 'Rellene todos los campos.',
                        });
                    }
                    nuevo[0].value = '';
                    nuevo[1].value = '';
                    nuevo[2].value = '';

                },
                //Ordenamiento 1.Prioridad, luego 2.llegada (Por buburja)
                bubbleSort(procesos, tamanio) {
                    if (tamanio == 1) return;
                    let contador = 0;
                    for (let i = 0; i < tamanio - 1; i++) {
                        if (procesos[i].prioridad > procesos[i + 1].prioridad) {
                            let temp = procesos[i];
                            procesos[i] = procesos[i + 1];
                            procesos[i + 1] = temp;
                            this.swaps.push([procesos[i].id, procesos[i + 1].id, i, i + 1]);
                            contador++;
                        } else if (procesos[i].llegada > procesos[i + 1].llegada && procesos[i].prioridad === procesos[i + 1].prioridad) {
                            let temp = procesos[i];
                            procesos[i] = procesos[i + 1];
                            procesos[i + 1] = temp;
                            this.swaps.push([procesos[i].id, procesos[i + 1].id, i, i + 1]);
                            contador++;
                        }
                    }
                    if (contador == 0) {
                        return;
                    }
                    this.bubbleSort(procesos, tamanio - 1);
                },
                swapAnimation(swaps) {
                    setTimeout(() => {
                        if (swaps.length == 0) {
                            return this.isSorted = true;
                        }
                        let [i, j, x, y] = swaps.shift();
                        let outside = document.querySelector(`#${j}`);
                        let insert = document.querySelector(`#${i}`);
                        let inputs = document.querySelectorAll(`#${i} > td > input, #${j} > td > input`);
                        outside.classList.add("moveRowOut");
                        insert.classList.add("moveRowOut");

                        for (const input of inputs) {
                            input.classList.add('see');
                        }
                        setTimeout(() => {
                            for (const input of inputs) {
                                input.classList.remove('see');
                            }
                            let temp = this.procesosView[x];
                            this.procesosView[x] = this.procesosView[y];
                            this.procesosView[y] = temp;
                            outside.classList.remove("moveRowOut");
                            insert.classList.remove("moveRowOut");
                            this.swapAnimation(swaps);
                        }, this.TIMER);
                    }, 1000);

                },
                sort() {
                    if (this.isSorted) {
                        return this.alertSorted();
                    } else {
                        this.bubbleSort(this.procesosBack, this.procesosBack.length);
                        this.swapAnimation(this.swaps);
                    }
                },
                wait: (ms) => {
                    const start = Date.now();
                    let now = start;
                    while (now - start < ms) {
                        now = Date.now();
                    }
                },
                alertSorted() {
                    Swal.fire({
                        icon: '',
                        title: 'Oops...',
                        text: 'Los procesos ya se encuentran ordenados',
                    });
                },
                // Ejecuta un proceso disminuyendo el valor de tiempo recursivo
                ejecutarRecursivo(_actual) {
                    if (_actual.tiempo > 0) {
                        this.wait(this.TIMER);
                        _actual.tiempo = _actual.tiempo - 1;
                        _actual.procesado = _actual.procesado + 1;
                        this.tiempoTotal += 1;
                        this.ejecutarRecursivo(_actual);
                    } else {
                        _actual.finished = true;
                        this.finished.push(_actual);
                        this.hasNext = false;
                    }
                },
                // Envia a ejectuar un proceso en la pila
                proximoEjecutar() {
                    this.running.push(this.procesos.shift());
                    this.hasNext = true;
                },
                //Algoritmo de planeacion por prioridad
                priorityScheduling() {
                    if (this.procesos.length > 0 || this.hasNext) {
                        if (this.running.length === 0 && !this.hasNext) {
                            this.proximoEjecutar();
                            this.priorityScheduling();
                        } else if (this.hasNext) {
                            this.ejecutarRecursivo(this.running.pop());
                            this.priorityScheduling();
                        }
                    } else if (this.procesos.length === 0 && !this.hasNext) {
                        return console.log(`Terminados :)`);
                    }
                }
            }
        });
        app.mount("#app");
    </script>
</body>

</html>