<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="https://upload.wikimedia.org/wikipedia/commons/9/95/Vue.js_Logo_2.svg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Prority Scheduling</title>
</head>

<body>
    <header class="header">
        <h1 class="title page-title">Programación prioritaria</h1>
    </header>
    <div id="app" class="cont">
        <div class="child">
            <h1 class="title">Procesos en cola {{ c }}</h1>
            <div class="table-container">
                <table class="table" id="table">
                    <thead>
                        <th>Id proceso</th>
                        <th>Prioridad</th>
                        <th>Tiempo(ms)</th>
                        <th>Llegada</th>
                    </thead>
                    <tbody id="datat">
                        <tr v-for="proceso in procesos">
                            <td><input type="text" v-bind:value="proceso.id" readonly></td>
                            <td><input type="number" v-bind:value="proceso.prioridad"></td>
                            <td><input type="number" v-bind:value="proceso.tiempo"></td>
                            <td><input type="number" v-bind:value="proceso.llegada" v-on:keyup.enter="edit(proceso.id)">
                            </td>
                        </tr>
                        <!--Nuevos procesos-->
                        <tr class="newProcess" v-if="show || this.procesos != null">
                            <td><input class="input" type="text" v-bind:placeholder="newId" readonly></td>
                            <td><input class="input-new" type="number" placeholder="Prioridad" required></td>
                            <td><input class="input-new" type="number" placeholder="Tiempo" required></td>
                            <td><input class="input-new" type="number" placeholder="Llegada" required></td>
                        </tr>
                    </tbody>
                </table>
                <div class="big-button add-button" v-on:click.prevent="add()">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </div>

            </div>
            <div class="big-button play-button" v-on:click="contador()">
                <i class="fa-solid fa fa-play"></i>
            </div>
        </div>
        <!--Gannt chart-->
        <div class="child gannt">
            <div id="example-gantt">
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script>
        class Proceso {
            constructor(id, llegada, tiempo, prioridad) {
                this.id = id;
                this.llegada = llegada;
                this.tiempo = tiempo;
                this.prioridad = prioridad;
            }
        }
        const app = Vue.createApp({
            data() {
                return {
                    procesos: [],
                    running: false,
                    editing: false,
                    show: false,
                    c: 0
                };
            },
            computed: {
                //Generador para el proximo id
                newId: function name(params) {
                    return `P${this.procesos.length + 1}`;
                },

            },
            methods: {
                //Valida los datos de entrada en los campos
                valid(arr) {
                    var number = /[0-9]*/;
                    valid = true;
                    for (let i = 0; i < arr.length; i++) {
                        if (!(number.test(arr[0]) && arr[0] != '')) {
                            valid = false;
                        }
                    }
                    return valid;
                },
                //Agrega una fila con nuevo un nuevo procesos
                add() {
                    var nuevo = document.querySelectorAll('tr.newProcess input.input-new');
                    this.show = this.show ? '' : this.show = true;
                    var nproc = [nuevo[0].value, nuevo[1].value, nuevo[2].value];
                    //Clases

                    if (this.valid(nproc)) {
                        let p = new Proceso(this.newId, nuevo[2].valueAsNumber, nuevo[1].valueAsNumber, nuevo[0].valueAsNumber);
                        this.procesos.push(p);
                    }
                    else {
                        Swal.fire({
                            icon: '',
                            title: 'Oops...',
                            text: 'Rellene todos los campos.',
                        })
                    }
                    nuevo[0].value = '';
                    nuevo[1].value = '';
                    nuevo[2].value = '';
                },
                contador() {
                    timer: setInterval(() => {
                        this.c++;
                        if (this.c >= 1000) {
                            this.c = 0;
                        }
                    }, 1000)
                }
            }
        });
        app.mount("#app");
    </script>
</body>

</html>