*{
    padding: 0;
    margin: 0;
    font-family: "Avenir Next W01", "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
}
.cont{
    display: flex;
    padding: 0;
}
.title{
    text-align: center;
    line-height: 1.5;
    font-weight: 500;
    color: rgb(0, 108, 86);
}
.child{
    display: flex;
    margin: 5px;
    display: inline-block;
    border: 10px, unset, blue,;
    background-color:  rgba(0, 152, 122, 0.055);
    width: 50vw;
    height: 100vh;
}
.table {
    box-shadow: inset;
    margin: auto;
    margin-top: 20px;
    border-collapse: collapse;
    font-size: 1.2em;
    font-family: sans-serif;
    min-width: 400px;
    background-color: rgba(0, 128, 102, 0.055);
}
.table thead tr {
    background-color: rgb(0, 152, 121);
    color: #ffffff;
    text-align: left;
}
.table th,
.table td {
    padding: 12px 15px;
}
.table tbody tr {
    text-align: center;
}
.table tbody tr:nth-of-type(even) {
    background-color: rgba(0, 152, 122, 0.055);
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}
svg :hover {
    cursor: pointer;
}
svg{
    color: #009879;
    height: 30px;
}